---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aynur Karimov">
  <p>
    Hey. I'm a software developer, currently <del>working at</del> in sabbatical.
  </p>

  <p>
    I love writing changeable, testable code, as well as engaging with the
    product to help deliver valuable solutions. I can't stand unnecessary
    bureaucracy— not the kind that supports the foundation, but the kind that
    prevents growth and causes pain. I try to challenge the status quo, but it
    might seem like I'm sabotaging the project.
  </p>
</BaseLayout>

<style lang="scss">
  ul {
    display: flex;
    gap: 16px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }

  p del {
    text-decoration: line-through;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
</style>
